*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conatiner-slider{
    background-color:black;
}
.conatiner-slider>.gent{
    background-color: black;
}
.conatiner-slider>.conti-sub>.card-container{
    padding: 10px;
    background-color: black;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    transition: transform 0.5s ease;
  
    
}

.conatiner-slider>.conti-sub>.card-container>.dat{
    background-color:black;
}

