*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container-ben{
  background-color: black;
}

.deals{
  background-color: #546e7a;
  text-transform: uppercase;
  font-size: 12px;
    font-weight: 700;
   
    text-align: center;
}